@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* https://github.com/toufikbelouadah/Helios */
/* hiding useless stuffs */
.titlebar-placeholder,#wrapper-alltabs-button,.tab-close-button /*,.tab-icon-image */ {
  display: none;
}
#identity-box,.urlbar-history-dropmarker,#pageActionButton{
  display: none !important
}
.tab-throbber{
  margin: 0!important;
  padding: 0!important;
}
#tabbrowser-tabs .tabs-newtab-button { 
  padding: 0px !important;
  margin:  0px !important;
  width:  6px !important;
  height: 12px !important;
}
/* tab occupy all space 
 *  tab title font is reduced
 */
.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: 100% !important;
  font-size: 0.8em !important;
}
/* hides a ugly black bottom background under each unfocused tab */
#navigator-toolbox{
  --tabs-border-color: none !important;
}
/* hides another ugly black bottom background under the urlbar container */
:root:-moz-lwtheme-brighttext {
  --toolbox-border-bottom-color: none !important;
}
/*
 url bar font size is reduced
 no borders
 no shadow
 no round edges
 */
#urlbar {
  font-size: 0.8em !important;
  border: none !important;
  box-shadow: none !important;
  text-align: center !important;
}
/* i don't really know what this do but removing it gives a weird behaviour when opening and closing tabs any analysis are welcome ^^ */
.tabbrowser-tab::after, .tabbrowser-tab::before {
  border:none !important;
}

.tab-background, .tabbrowser-tab:not([selected]) .tab-background {
  border: none !important;
}

/* center tab text title */
.tab-label {
  -moz-box-flex: 1 !important; 
  text-align: center !important;
}

/* Minimize the active tab identifier (top of tab) */
.tab-line{
  height: 1px !important;
}

/* reducing the tabs height more */
:root[uidensity="compact"] #titlebar, :root[uidensity="compact"] #tabbrowser-tabs {
  --tab-min-height: 18px !important;
}

/* removing the useless padding and marging between elements of the urlbar etc..*/
#nav-bar,#urlbar,#PanelUI-menu-button{
  padding: 0px !important;
  margin:  0px !important;
  height: 26px !important;
}

/* make the tabs hidden when there is only one tab open */
#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse;
}

/* https://github.com/moamenk/Firefox-Minimal-Responsive-Theme */
/* Contextual toolbar buttons, only show on hover */
:root:not([customizing]) #nav-bar toolbarbutton
{
  margin-left: -30px !important;
  opacity: 0 !important;
  transform: scale(.85, .85) !important;
  pointer-events: none !important;
  transition: all 100ms var(--animation-easing-function) !important;
}
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
  transform: scale(1, 1) !important;
  opacity:1 !important;
  margin-left:0 !important;
  pointer-events: auto !important;
}

/* bookmarks toolbar edge style */
:root {
  --toolbarbutton-border-radius: 1px !important;
}
