/* Ignore this stuff, it's all url/content specific and not pertenent to the browser */
@import url("colorscheme.css") screen; */
:root{
  scrollbar-face-color: var(--color4);
  scrollbar-track-color: var(--color0);
  scrollbar-width: thin;
}
