/* declaring color variables  current scheme, should not be done because firefox can deal with that shit */
@import url("heliosUI_userChrome.css") screen;

:root {
  --urlbar-icon-padding: 2px;
}

#minimize-window-button_nanpuyue_com-browser-action, #maximize-window-button_nanpuyue_com-browser-action, #close-window-button_nanpuyue_com-browser-action {
  padding: 0px !important;
  margin:  0px !important;
  height: 12px !important;
}
